<% layout('layouts/boilerplate') -%>
<div id="hero">
  <%-include('../partials/flash')%>

  <div class="overlay">
    <div class="heading">
      <span>All Schools</span>
    </div>
    <div class="search-area">
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          type="text"
          id="search"
          class="input"
          placeholder="Search"
          onkeyup=""
        />
      </div>
      <div class="result-box"></div>
    </div>
  </div>
</div>

<div id="boxes">
  <div
    class="container"
    id="cardContainer"
    data-server-variable="<%= schools %>"
  >
    <!-- <%//for (let school of schools ) { %>
    <div class="card">
      <a href="schools/<%=//school.id%>" class="box">
        <div class="image">
          <img src="<%=//school.image%>" alt="" />
        </div>
        <div class="info">
          <div class="title">
            <span class="schoolTitle"><%= //school.title %> </span>
          </div>
          <div class="info-sub">
            <div><%=//school.reviews.length %> review<%=//school.reviews.length!=1 ? 's' : ''%></div>
            <div class="location"><%= //school.location %></div>
          </div>
        </div>
      </a>
    </div>
    <%//} %> -->
  </div>
</div>

<script src="/js/indexPageJS.js"></script>
<!-- <script>
  let searchBool = false;
  function searchProduct() {
    const input = document.getElementById("search").value.toUpperCase();
    if (input) {
      searchBool = true;
    } else {
      searchBool = false;
    }
    const cardContainer = document.getElementById("cardContainer");
    const cards = cardContainer.getElementsByClassName("card");
    for (let i = 0; i < cards.length; i++) {
      let title = cards[i].querySelector("a.box .info span.schoolTitle");
      if (title.innerText.toUpperCase().indexOf(input) > -1) {
        cards[i].style.display = "";
      } else {
        cards[i].style.display = "none";
      }
    }
  }
</script> -->
