<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<% let char; if(school.reviews.length === 1){ char = " " } else { char = "s" } %>
<section id="show-page">
  <div class="forflash"><%-include('../partials/flash')%></div>
  <div class="container">
    <div class="left-side">
      <div class="image">
        <img src="<%=school.image%>" alt="" />
      </div>
      <div class="info">
        <div class="info-container">
          <div class="left">
            <div class="title">
              <h2><%= school.title %></h2>
            </div>
            <div class="location">
              <h3><%= school.location %></h3>
            </div>
            <div class="btns">
              <div class="edit-btn">
                <a href="/schools/<%= school._id %>/edit">Edit</a>
              </div>
              <form
                class="delete-btn"
                action="/schools/<%=school._id%>?_method=DELETE"
                method="POST"
              >
                <button>Delete</button>
              </form>
            </div>
          </div>
          <div class="right">
            <div class="tution">
              <h3><%= school.tuition %>/yr</h3>
            </div>
            <div class="rating-container">
              <h3><%=school.rating%>/5</h3>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="heading">
        <h3>Leave A Review</h3>
      </div>
      <div>
        <form
          class="review-form"
          onsubmit="return validateForm()"
          action="/schools/<%=school._id%>/reviews"
          method="POST"
        >
          <div class="stars">
            <div class="list-choice">
              <div class="list-choice-title">Rate Your School</div>
              <div class="list-choice-objects">
                <label>
                  <input value="1" type="radio" name="review[rating]" />
                  <span>1</span>
                </label>
                <label>
                  <input value="2" type="radio" name="review[rating]" />
                  <span>2</span>
                </label>
                <label>
                  <input value="3" type="radio" name="review[rating]" />
                  <span>3</span>
                </label>
                <label>
                  <input value="4" type="radio" name="review[rating]" />
                  <span>4</span>
                </label>
                <label>
                  <input value="5" type="radio" name="review[rating]" />
                  <span>5</span>
                </label>
              </div>
            </div>
            <div
              id="ratingErrorMessage"
              
            >
            <i class="fa-solid fa-caret-up"></i>
            <div class="contain">
              <div class="icon-box">
                <i class="fa-solid fa-exclamation"></i>
              </div>
              
              <span>Please rate your school.</span>
              
            </div>
              
            </div>
          </div>

          <div class="text-box">
            <textarea name="review[body]"></textarea>
          </div>
          <div class="submit">
            <button>Submit</button>
          </div>
        </form>
      </div>
      <div class="rating">
        <div class="rating-header">
          <h2>Rating<%=char%></h2>
        </div>
        <div class="ratings">
          <%for(review of school.reviews){%> <%//if(review.body){%>
          <div class="star-rating-container">
            <p class="starability-result" data-rating="<%=review.rating%>"></p>
          </div>

          <p class="rating-body"><%=review.body%></p>
          <form
            action="/schools/<%=school._id%>/reviews/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <div class="btn-container">
              <button class="rating-btn">Delete</button>
            </div>
          </form>

          <%// }%> <% }%>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validateForm() {
    var ratingOptions = document.querySelectorAll('input[name="review[rating]"]');
    var ratingSelected = false;

    ratingOptions.forEach(function (option) {
      if (option.checked) {
        ratingSelected = true;
      }
    });
    var ratingErrorMessage = document.getElementById("ratingErrorMessage");
    if (!ratingSelected) {
      ratingErrorMessage.style.display = "block";
      return false;
    } else {
      ratingErrorMessage.style.display = "none";
    }

    return true;
  }
</script>
